<style media='all' type='text/css'>
div#gsfn_list_widget img { border: none; }
div#gsfn_list_widget { font-size: 12px; width: 15em; border: 0.5em solid #bad032; background-color: #fff; padding: 0.5em; margin-right: -17em; float: right; }
div#gsfn_list_widget a.widget_title { color: #000; display: block; margin-bottom: 10px; font-weight: bold; }
div#gsfn_list_widget .powered_by { margin-top: 8px; padding-top: 8px; border-top: 1px solid #DDD; }
div#gsfn_list_widget .powered_by a { color: #333; font-size: 90%; }
div#gsfn_list_widget div#gsfn_content { }
div#gsfn_list_widget div#gsfn_content li { text-align:left; margin-bottom:6px; }
div#gsfn_list_widget div#gsfn_content a.gsfn_link { line-height: 1; }
div#gsfn_list_widget div#gsfn_content span.time { font-size: 90%; padding-left: 3px; }
div#gsfn_list_widget div#gsfn_content p.gsfn_summary { margin-top: 2px }
</style>

<h1>Support</h1>

<div class="propertypage">
  <h2>Problems?  Ideas?  Questions?  We're here to help.</h2>
  
    <p>You can talk to us via 
	  <%= link_to "our community support forum", "https://github.com/nbudin/journey/issues" %>, 
	  powered by GitHub.
	  There, you'll be able to ask questions and respond to other users.</p>

  <!--	
  <div style="max-width: 44em;">	  

		<script type="text/javascript" charset="utf-8">
		  var feedback_widget_options = {};
		  feedback_widget_options.display = "inline";  
		  feedback_widget_options.company = "sugarpond";
		  feedback_widget_options.style = "idea";
		
		  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
		</script>
	</div>
 	-->
</div>
